.section {
  margin: 10rem 0;
}
/* .section:first-child { */
/*   margin-top: 0; */
/* } */
/* .section:last-child { */
/*   margin-bottom: 0; */
/* } */

.title {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
