@import '~shared.scss';

.layout-shell {
  background: rgba(black, .1);
  border: 1px solid black;
  height: 500px;

  composes: flex-row;
}

.long-item {
  height: 1000px;
  background: rgba(red, .1);
  border: 1px solid black;
}

.sidebar {
  background: rgba(black, .1);
  border: 1px solid black;
  flex: 1;
}

.content {
  flex: 4;
  background: rgba(black, .1);
  border: 1px solid black;
}

.inner {
  background: rgba(blue, .1);
  border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow: auto;
}
