/****************************************************************************
 *  Utils
 ****************************************************************************/

$z-index-negative: -1;
$z-index-low: 1;
$z-index-med: 2;
$z-index-high: 3;
$z-index-SHOW-THIS: 999;

/****************************************************************************
 *  App Specifics
 ****************************************************************************/

$default-font-family: 'Helvetica Neue', 'Arial', Sans-Serif;
$default-font-color: $dark_3;
$default-line-height: 1.4;
$default-font-size: 14px;
$default-link-color: $blue_3;
