$dark_1: #343536;
:export { dark_1: $dark_1; }
$dark_2: #3F4142;
:export {  dark_2: $dark_2; }
$dark_3: #424950;
:export {  dark_3: $dark_3; }
$dark_4: #89949B;
:export {  dark_4: $dark_4; }
$dark_5: #9AA8B1;
:export {  dark_5: $dark_5; }
$dark_6: #C4C9CD;
:export {  dark_6: $dark_6; }
$dark_7: #f4f5f6;
:export {  dark_7: $dark_7; }
$dark_8: #edeff0;
:export {  dark_8: $dark_8; }

$blue_1: #1790BB;
:export {  blue_1: $blue_1; }
$blue_2: #11A3D7;
:export {  blue_2: $blue_2; }
$blue_3: #26BBF0;
:export {  blue_3: $blue_3; }
$blue_4: #7DD6F6;
:export {  blue_4: $blue_4; }
$blue_5: #A8E4F9;
:export {  blue_5: $blue_5; }
$blue_6: #D4F1FC;
:export {  blue_6: $blue_6; }

$green_1: #6EB17B;
:export {  green_1: $green_1; }
$green_2: #98B36A;
:export {  green_2: $green_2; }
$green_3: #C2D5A0;
:export {  green_3: $green_3; }
$green_4: #DAE6C6;
:export {  green_4: $green_4; }
$green_5: #E7EED9;
:export {  green_5: $green_5; }
$green_6: #F3F7EC;
:export {  green_6: $green_6; }


$red_1: #A9484B;
:export {  red_1: $red_1; }
$red_2: #CC6164;
:export {  red_2: $red_2; }
$red_3: #CF6A6D;
:export {  red_3: $red_3; }
$red_4: #D88486;
:export {  red_4: $red_4; }
$red_5: #EBC0C1;
:export {  red_5: $red_5; }
$red_6: #F7E6E7;
:export {  red_6: $red_6; }
$red_7: #DC6180;
:export {  red_7: $red_7; }


$yellow_1: #D9A92B;
:export {  yellow_1: $yellow_1; }
$yellow_2: #FFBC0D;
:export {  yellow_2: $yellow_2; }
$yellow_3: #FFD055;
:export {  yellow_3: $yellow_3; }
$yellow_4: #FFE49C;
:export {  yellow_4: $yellow_4; }
$yellow_5: #FFECBB;
:export {  yellow_5: $yellow_5; }
$yellow_6: #FFF6DD;
:export {  yellow_6: $yellow_6; }


$teal_1: #9BBFB3;
:export {  teal_1: $teal_1; }
$teal_2: #AECCC2;
:export {  teal_2: $teal_2; }
$teal_3: #B9D9CE;
:export {  teal_3: $teal_3; }
$teal_4: #D5E8E2;
:export {  teal_4: $teal_4; }
$teal_5: #E3F0EB;
:export {  teal_5: $teal_5; }
$teal_6: #F1F7F5;
:export {  teal_6: $teal_6; }

$misc_paper: #FAF6ED;
:export {  misc_paper: $misc_paper; }
$misc_skin: #D6B699;
:export {  misc_skin: $misc_skin; }
$misc_paperbag: #CAA971;
:export {  misc_paperbag: $misc_paperbag; }
$misc_pumpkin: #EA7754;
:export {  misc_pumpkin: $misc_pumpkin; }
$misc_pink: #FEE2EA;
:export {  misc_pink: $misc_pink; }
$misc_peach: #FC9E76;
:export {  misc_peach: $misc_peach; }
$misc_peach2: #FDB494;
:export {  misc_peach2: $misc_peach2; }
$misc_tan: #FFE3A4;
:export {  misc_tan: $misc_tan; }
$misc_purple: #BC6CE6;
:export {  misc_purple: $misc_purple; }

$darkalt_1: #242835;
:export {  darkalt_1: $darkalt_1; }
$darkalt_2: #32364A;
:export {  darkalt_2: $darkalt_2; }
$darkalt_3: #AFB1BE;
:export {  darkalt_3: $darkalt_3; }
